/* General Styling */

h1 {
    color: coral;
}

p {
    color: #E5E5E5;
    font-size: 1.3rem;
}

body {
    background-color: #2c2d32;
}

.siteWrapper {
    margin-left: 12vw;
    margin-right: 12vw;
}