.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.introductionTextContainer {
    grid-column: 1;
    align-content: center;
    text-align: left;
}

.pictureContainer {
    grid-column: 2;
    text-align: right;
}

.img {
    width: auto;
    height: auto;
}